/* Grid Nine styles
-------------------------------------------------- */

.grid-nine-col {
  padding: 0 !important;
  //padding-right: 12.5px !important;
}


.grid-nine-top {
  margin-bottom: 12.5px;
}

.grid-nine-middle {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.grid-nine-bottom {
  margin-top: 12.5px;
}

.left {
  padding-right: 12.5px !important;
}

.middle {
  padding-left: 12.5px !important;
  padding-right: 12.5px !important;
}

.right {
  padding-left: 12.5px !important;
}


.cropwrapper.left, .cropwrapper.middle, .cropwrapper.right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}