/* Setup styles
-------------------------------------------------- */
html {
  position: relative;
  overflow-x: hidden;
}

body {
  height: 100vh;                   /* THIS IS IMPORTANT */
  background-color: @body-color;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}